<h1 class="text-center">Форма в 3 шага</h1>

<div class="row justify-content-center">
  <a href="/step-1" class="btn btn-success">Начать</a>
</div>
<br />
<div class="row">
  <ul>
    <li>Validation - bunny.js</li>
    <li>Между формами данные хранятся в sessionStorage</li>
    <li>После отправки, данные удаляются из sessionStorage</li>
    <li>Для автодополнения использовал horsey</li>
    <li>Для автодополнения данные берутся из googlemaps API, через express, потому что напрямую давало CORS :(</li>
  </ul>
</div>
<br />
<div class="row justify-content-center">
  <h2 class="text-center">Автор</h2>
</div>
<div class="row justify-content-center">
    <ul>
    <li>Паламарчук Дмитрий</li>
    <li><a href="https://github.com/moonbrv">github profile</a></li>
    <li><a href="https://github.com/moonbrv/step-form-example">source code</a></li>
  </ul>
</div>
